/*Global styles*/
body {
    color: white;
    background: #353B39;
    margin: 0;
    width: 100%;
}

a:hover {
    cursor: pointer;
}

.main_content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5em;
    height: 20em;
}

/*Main header*/
#page_header {
    height: 60px;
    background: white;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 5px 20px 1px #0D232C;
    width: 100%;
    position: sticky;
}

nav { 
    text-align: right;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding-top: 20px;
    font-family: "josefin sans";
    font-size: 1.2em;
    font-weight: bold;
    width: 90%;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    position: inherit;
    color: black;
}  

nav a:hover { 
    transition: background-color 0.5s ease;
    background-color: black;
 }

/*Search box*/
#browse form {
    position: absolute;
    right: 40%;
    top: 20%;
}

#browse input[type="search"] {
    width: 250px;
    border-radius: 5px;
    height: 35px;
}

#browse input[type="submit"]{
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/sprite.png") no-repeat -43px 0;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 8px 0 0;
    border: none;
    position: absolute;
    right: 5%;
}

select {
    color: black;
    width: 100px;
}

#logo {
    position: absolute; 
    left: 15%;
    top: 0%;
}

#logo img {
    width: 150px;
    height: 85px
}

/*content box*/
#content {
    background: url("../images/background.jpg") no-repeat;
    background-size: 100% 518px;
    height: 518px;
    opacity: 0.85;
}

#content h1 { 
    color: white;
    font-size: 70px;
    text-align: justify;
}

/*FOOTER STYLES*/
footer {
    padding: 60px 60px 10px;
    color: black;
    background: white;
    margin: 0;
}

#footer {
    width: 80%;
    margin: 0 auto 60px;
}

footer a:hover {
    text-decoration: underline;
}

#link_footer {
    clear: both;
    text-align: center;
    margin-top: 100px;
    border-top: 2px solid black;
    padding-top: 10px;
}

/*makes the links in the bottom appear in a line*/
#link_footer ul li {
    display: inline;
}

/*makes the footer appear as columns next to each other*/
#support, #quick_links {
    float: left;
    padding-right: 50px;
    line-height: 25px;
}

/*gives the links in the bottom space between each other and makes they size small*/
#link_footer a {
    padding-right: 50px;
    font-size: .8em;
    font-style: italic;
}

/*selects every first word of the footer list and increases their size and give space between them and the remainder of the list below*/
#footer p {
    font-size: 1.5em;
    padding-bottom: 20px;
}

/*ABOUT PAGE*/
.about > h1 {
    text-align: center;
    padding-bottom: 10px;
}

/*CONTACT PAGE*/
.contact fieldset {
    display: block;
    border: 1px groove white;
    padding: 10px;
    margin: 0 10px;
}
.contact form {
    padding: 10px;
    margin: 10px;   
    line-height: 50px;
}

